{% extends 'base.html' %}

{% block title %} Курсы {% endblock %}

{% block content1_head %}
    <h2>Курсы</h2>
{% endblock %}

{% block content1 %}
    <div class="courses">
        {% for c in courses %}
            <div class="courses-cell">{{ forloop.counter }}</div>
            <div class="courses-cell"><a href="{{ c.get_absolute_url }}">{{c}}</a></div>
            <div class="courses-cell">{{c.start_date}}</div>
            <div class="courses-cell">{{c.end_date}}</div>
            <div class="courses-cell">{{c.description}}</div>
        {% endfor %}
    </div>
    <div><a href="{% url 'addcourse' %}">Добавить</a></div>
{% endblock %}