{% extends 'base.html' %}

{% block title %} Студент {% endblock %}

{% block content1_head %}
    <h2>Студент</h2>
{% endblock %}

{% block content1 %}
    <div class="st-info">
        {% if student.photo %}
            <div class="photo">
                <img class="st-photo" src="{{ student.photo.url }}" alt="Фотография студента">
            </div>
        {% else %}
            <div class="photo">
                <img class="st-photo" alt="Фотография отсутствует">
            </div>
        {% endif %}
        <div class="info">
            <p> Фамилия: {{ student.last_name }}</p>
            <p> Имя: {{ student.first_name }}</p>
            <p> Возраст: {{ student.age }}</p>
            <p> Курсы:
                {% for c in student.course.all %}
                    {{c}}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}