{% extends 'base.html' %}

{% block title %} Студенты {% endblock %}

{% block content1_head %}
    <h2>Студенты</h2>
{% endblock %}

{% block content1 %}
    <div class="students">
        {% load cache %}
        {% cache 500 persons %}
        {% for s in students %}
            <div class="students-cell">{{ forloop.counter }}</div>
            <div class="students-cell"><a href="{{ s.get_absolute_url }}">{{s.last_name}} {{ s.first_name }}</a></div>
            <div class="students-cell">
            {% if s.photo %}
            <img class="img-student thumb" src="{{s.photo.url}}">
            {% endif %}
            </div>
        {% endfor %}
        {% endcache %}
    </div>
    <div><a href="{% url 'addperson' %}">Добавить</a></div>
{% endblock %}